<div class="container jobSearchContainer">
    <div class="row">      
        <div class="col-sm-6">     
            <div class="input-group">
                <label class="contactPersonLabel">
                    Contact Person
                </label>
                &nbsp;&nbsp;
                <input class="form-control" 
                    [(ngModel)]="sContactPersonName" 
                    type="text" />
            </div>        
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <select class="form-control" (change)="changeProvince($event)">
                    <option value="">Choose Province</option>
                    <option value={{x}} *ngFor="let x of provinces">
                        {{x}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <select class="form-control" (change)="changeCity($event)">
                    <option value="">Choose City</option>
                    <option value={{x}} *ngFor="let x of cities">
                        {{x}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <form class="row">
                <div class="col-sm-6">
                    <div class="dp-hidden position-absolute">
                        <div class="input-group">    
                            <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                                [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                                outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" />
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </div>
                    </div>
                    <div class="input-group">
                        <input #dpFromDate class="form-control" placeholder="Start-Date [yyyy-mm-dd]" name="dpFromDate"
                            [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()"
                            type="button"></button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input #dpToDate class="form-control" placeholder="End-Date [yyyy-mm-dd]" name="dpToDate"
                            [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()"
                            type="button"></button>
                    </div>
                </div>
            </form> 
        </div>
        <div class="col-sm-4">
            <button (click)="filterNow()" type="button" class="btn btn-primary cancelBtn">
                <i class="bi bi-funnel"></i>&nbsp;&nbsp;Filter Job-Applications
            </button>
        </div>
    </div>
</div>


<!-- 
<hr />
<pre>From date model: {{ fromDate | json }}</pre>
<pre>To date model: {{ toDate | json }}</pre>
-->