.mainContainer {
    padding: 20px;
}

.componentHeader {
    background-color: #e5c4d3;
}

.skillsHeader {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.formField {
    padding-bottom: 10px
}

.saveBtn {
    text-align: center;
}

.saveConfirm {
    color: green;
    font-weight: bold;
    font-size: x-large;
}

.skillLabel {
    font-weight: bold;
    padding-top: 7px;
}

.skillsContainer{
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
}

