<div class="container mainContainer">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header componentHeader">
                    <div class="skillsHeader">
                        <div>
                           Skills
                        </div>
                        <div *ngIf="saved" class="saveConfirm">
                            Data Saved!
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="skillLabel">
                                    Add Skill
                                </label>
                                &nbsp;&nbsp;
                                <input class="form-control" 
                                    [(ngModel)]="addingSkill" 
                                    type="text" />
                                &nbsp;&nbsp;
                                <button 
                                    (click)="addSkill()"
                                    type="button" class="btn btn-primary">
                                    <i class="bi bi-plus-circle"></i>
                                </button>
                                
                            </div>
                        </div>
                        <div class="col-sm-6 skillsContainer">
                            <h5><u>Skills</u></h5>

                         
                            <div *ngFor="let skill of skills">
                                <span class="row">
                                    <div class="col-sm-8">
                                        <span>
                                            {{skill}}                                         
                                        </span>
                                    </div>
                                    <div class="col-sm-4">
                                        <button (click)="removeSkill(skill)" 
                                            type="button" class="btn btn-danger">
                                            <i class="bi bi-x"></i>
                                        </button>
                                    </div>
                                </span>                             
                                <br />
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <hr />
                    <p></p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 saveBtn">
                                <button type="button" 
                                    (click)="onSubmit()"
                                    class="btn btn-success">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>