<div class="container mainContainer">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header resumeUploadHeader">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4>
                                <div class="jobAppHeader">
                                    <u>[RESUME-UPLOAD]</u> Job-Application ## {{selectedJob.jobApplicationId}}
                                    <p></p>
                                    <span [ngStyle]="{'color': localDataService.getAppStatusTypeColor(selectedJob.appStatus)}"
                                        *ngIf="localDataService.getAppStatusTypes()?.length>0">
                                        [{{localDataService.getAppStatusTypes()[selectedJob.appStatus]}}]
                                    </span>
                                </div>
                            </h4>
                        </div>
                        <div class="col-sm-2">
                            <button (click)="goBack()" 
                                type="button" 
                                class="btn btn-primary cancelBtn">
                                <i class="bi bi-backspace-fill"></i>
                            </button>
                        </div>
                    </div>                             
                </div>
                <div *ngIf="selectedJob" class="card-body">    
                    <div class="row">                    
                        <div class="col-sm-6 jobAppDetails jobAppDetailsSpecial">
                            Company Name :
                            <span *ngIf="selectedJob.companyName; else notAv">
                                {{selectedJob.companyName}}
                            </span>                         
                        </div>
                        <div class="col-sm-6 jobAppDetails jobAppDetailsSpecial">
                            Agency :
                            <span *ngIf="selectedJob.agencyName; else notAv">
                                {{selectedJob.agencyName}}
                            </span>
                        </div>
                        <div class="col-sm-6 jobAppDetails">
                            Company URL :
                            <span *ngIf="selectedJob.webURL; else notAv">
                                {{selectedJob.webURL}}
                            </span>
                        </div>
                        <div class="col-sm-6 jobAppDetails jobAppDetailsSpecial">
                            Contact Person Name : {{selectedJob.contactPersonName}}
                        </div>
                        <div class="col-sm-6 jobAppDetails">
                            Phone :
                            <span *ngIf="selectedJob.phoneNumber; else notAv">
                                {{selectedJob.phoneNumber}}
                            </span>
                        </div>
                        <div class="col-sm-6 jobAppDetails jobAppDetailsSpecial">
                            Contact Email : {{selectedJob.contactEmail}}
                        </div>
                        <div class="col-sm-6 jobAppDetails">
                            City : {{selectedJob.city}}
                        </div>
                        <div class="col-sm-6 jobAppDetails">
                            Province : {{selectedJob.province}}
                        </div>
                        <div class="col-sm-6 jobAppDetails jobAppDetailsSpecial">
                            Applied : {{selectedJob.appliedOn | date : "MMM-dd, y"}}                            
                        </div>
                    </div>
                    <ng-template #notAv>
                        N/A
                    </ng-template>


                    <hr />
                    <p></p>
                    <!-- resume-upload-->
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <label class="btn btn-default p-0">
                                    <input type="file" 
                                        (change)="selectFile($event)" />
                                </label>
                            </div>                        
                            <div class="col-4">
                                <button class="btn btn-success btn-sm" 
                                    [disabled]="!currentFile" 
                                    (click)="uploadResume()">
                                    Upload
                                </button>
                            </div>
                        </div> 
                        <div *ngIf="currentFile" class="progress my-3">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                                {{ progress }}%
                            </div>
                        </div>
                        <p></p>
                        <div 
                            *ngIf="message" 
                            class="alert alert-secondary {{apiResponse}}" 
                            role="alert">{{ message }}</div>                     
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>