<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">
            <b>Job-Apps-MGT</b>
        </a>
        <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <!-- left align items -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class='nav-link' aria-current="page" 
                        [routerLink]="['/home']">
                        <i class="bi bi-house"></i>Home
                    </a>
                </li>        
                <li class="nav-item">
                    <a class='nav-link' aria-current="page" 
                        [routerLink]="['/follow-up']">
                        <i class="bi bi-bell"></i>Follow-UP
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link' aria-current="page" 
                        [routerLink]="['/apply-job']">
                        <i class="bi bi-chat-square-text"></i>Apply-Job
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>