.mainContainer {
    padding: 20px;
}

.componentHeader {
    background-color: #e5c4d3;
}

.myResumeHeader {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.previewResume{
    text-align: center;
    vertical-align: middle;
    color: blue;
    background-color: lightyellow;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid red;
    border-radius: 20px;
    font-weight: bold;
}
.resumeBtnContainer{
    padding: 20px;
}
.emailResume {
    text-align: right;    
}
.downloadResume {
    text-align: center;
}
.resumeBtn{
    color: black;
    background-color: bisque;
    font-weight: bold;
}
.titleHeader{
    color: blue;
    font-weight: bold;
    font-size: large;      
    padding: 10px;  
}
.titleDetail{
    padding: 10px;
    font-weight: bold;
}
.error{
    color: red;
    font-weight: bold;
    font-size: x-large;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid red;
    border-radius: 20px;
}
.success {
    color: green;
    font-weight: bold;
    font-size: x-large;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid green;
    border-radius: 20px;
}
.jobDetails{
    padding: 20px;
}