<div *ngIf="jobAppData">
    <div class="row mainContainer">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8 jobAppContainer">
            <div class="row jobAppHeader">
                <div class="col-sm-12">
                    <span>
                        Job-Application Details ## {{jobAppData.jobApplicationId}}
                    </span>
                    <br />
                    <span 
                        [ngStyle]="{'color': localDataService.getAppStatusTypeColor(jobAppData.appStatus)}"
                        *ngIf="localDataService.getAppStatusTypes()?.length>0">
                        [{{localDataService.getAppStatusTypes()[jobAppData.appStatus]}}]
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 jobAppDetails">
                    Follow-Up-Notes : {{jobAppData.followUpNotes}}
                </div>
                <div class="col-sm-6 jobAppDetails jobAppDetailsSpecial">
                    Company Name :
                    <span *ngIf="jobAppData.companyName">
                        {{jobAppData.companyName}}
                    </span>
                    <span *ngIf="!jobAppData.companyName">
                        N/A
                    </span>
                </div>
                <div class="col-sm-6 jobAppDetails jobAppDetailsSpecial">
                    Agency :
                    <span *ngIf="jobAppData.agencyName">
                        {{jobAppData.agencyName}}
                    </span>
                    <span *ngIf="!jobAppData.agencyName">
                        N/A
                    </span>
                </div>
                <div class="col-sm-6 jobAppDetails">
                    Company URL :
                    <span *ngIf="jobAppData.webURL">
                        {{jobAppData.webURL}}
                    </span>
                    <span *ngIf="!jobAppData.webURL">
                        N/A
                    </span>
                </div>
                <div class="col-sm-6 jobAppDetails jobAppDetailsSpecial">
                    Contact Person Name : {{jobAppData.contactPersonName}}
                </div>
                <div class="col-sm-6 jobAppDetails">
                    Phone :
                    <span *ngIf="jobAppData.phoneNumber">
                        {{jobAppData.phoneNumber}}
                    </span>
                    <span *ngIf="!jobAppData.phoneNumber">
                        N/A
                    </span>
                </div>
                <div class="col-sm-6 jobAppDetails jobAppDetailsSpecial">
                    Contact Email : {{jobAppData.contactEmail}}
                </div>
                <div class="col-sm-6 jobAppDetails">
                    City : {{jobAppData.city}}
                </div>
                <div class="col-sm-6 jobAppDetails">
                    Province : {{jobAppData.province}}
                </div>
                <div class="col-sm-6 jobAppDetails jobAppDetailsSpecial">
                    Applied : {{jobAppData.appliedOn | date : "MMM-dd, y"}}
                </div>
            </div>
        </div>
        <div class="col-sm-2">        
        </div>
    </div>
</div>