<div class="mainContainer">
    <div class="row">
        <div class="homePageHeader">
            <h2>Job-Application MGT</h2>
            <div class="techDiv">
                Web API Core - 3.1, EF Core [Code First - EF Transaction] / SQL Server / Angular / React
            </div>
        </div>
        <p></p>
        <hr />
        <p></p>
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="titleHeader">
                <b>Apply - Job</b>
            </div>
            <p></p>
            <div class="titleBody">
                <ul>
                    <li>
                        User can Create Job-Application by Applying to a Job [Initially Application Status = Applied]
                    </li>
                </ul>
            </div>
            <p></p>
        </div>
        <div class="col-sm-6">
            <div class="titleHeader">
                <b>User - Data</b>
            </div>
            <p></p>
            <div class="titleBody">
                <ul>
                    <li>
                        View User's Data By Resume-Created and Downloaded To User's Computer
                    </li>
                    <li>
                        View User's Data By Resume-Created and Emailed To User
                    </li>
                </ul>
            </div>
            <p></p>
        </div>   
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="titleHeader">
                <b>Follow Up - Job</b>
            </div>
            <p></p>
            <div class="titleBody">
                <ul>
                    <li>
                        User can Follow Up Applied Job-Application
                    </li>
                    <li>
                        User can Filter Job-Applications based on
                        <ul>
                            <li>
                                Contact-Person 
                            </li>
                            <li>
                                Province / City
                            </li>
                            <li>
                                Applied On [Date-Range]
                            </li>
                        </ul>
                    </li>
                    <li>
                        Application Status == (Any != [Closed])
                        <ul>
                            <b>User can --&gt;</b>
                            <li>
                                [View / Edit / Delete] Job-Application
                            </li>
                            <li>
                                Upload (Connect) Resume File to a Job-Application
                            </li>
                            <li>
                                Download Resume File Connected to a Job-Application
                            </li>
                            <li>
                                Track Application Status by Date & Time wise
                            </li>
                        </ul>
                    </li>
                    <li>
                        Application Status == [Closed]
                        <ul>
                            <b>User can --&gt;</b>
                            <li>
                                [View / Delete] Job-Application
                            </li>
                            <li>
                                Download Resume File Connected to a Job-Application
                            </li>
                            <li>
                                Track Application Status by Date & Time wise
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <p></p>
        </div>
        <div class="col-sm-6">
            <div class="titleHeader">
                <b>Resume - Creator</b>
            </div>
            <p></p>
            <div class="titleBody">
                <ul>
                    <li>
                        Create Personal Info [Add / Edit]
                    </li>
                    <li>
                        Create Technical Skills [Add / Edit / Remove]
                    </li>
                    <li>
                        Create Work Experience(s) [Add / Edit / Remove]
                    </li>
                    <li>
                        Create Education(s) [Add / Edit / Remove]
                    </li>
                    <li>
                        My - Resume
                        <ul>
                            <b>User can --&gt;</b>
                            <li>
                                Preview Resume 
                            </li>
                            <li>
                                Download Resume [Generate PDF Resume File and Download To User's Computer]
                            </li>
                            <li>
                                Email Resume [Generate PDF Resume File and Email as Attachment To User's Email
                                Address]
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <p></p>
        </div>      
    </div>
</div>
