.mainContainer {
    padding: 20px;
}

.componentHeader {
    background-color: lightyellow;
}

.cancelBtn {
    float: right;
}

.apiError {
    color: red;
    font-size: large;
}

.apiSuccess {
    color: green;
    font-size: large;
}

.apiResponseError {
    background-color: white;
    padding: 10px;
    text-align: center;
    border: 2px solid red;
    border-radius: 20px;
}

.apiResponseSuccess {
    background-color: white;
    padding: 10px;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
}

.mainContainer {
    padding: 20px;
}

.jobAppContainer {
    background-color: lightyellow;
    border: 2px solid orange;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.jobAppHeader {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.formField {
    padding-bottom: 10px
}

.appStatusField {
    font-size: larger;
    font-weight: bold;
}

.invalidDate {
    color: red;
    font-weight: bold;
}

.appStatusOptions {
    font-weight: bold;
}

.addjobAppHeader {
    background-color: lightseagreen;
}