.mainContainer {
    padding: 20px;
}

.componentHeader {
    background-color: #e5c4d3;
}

.piHeader {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.formField {
    padding-bottom: 10px
}

.saveBtn{
    text-align: center;
}

.saveConfirm{
    color : green;
    font-weight: bold;
    font-size: x-large;
}

.pinfoEdit {
    margin-left: 30px;
    padding-left: 10px;
    background-color: lightgoldenrodyellow;
    color: black;
    font-style: italic;
    font-weight: bold;
}