.mainContainer {
    padding: 20px;
}

.componentHeader {
    background-color: #e5c4d3;
}

.eduHeader {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.saveConfirm {
    color: green;
    font-weight: bold;
    font-size: x-large;
}

.saveBtn {
    text-align: center;
}

.formField {
    padding-bottom: 10px
}

.invalidDate {
    color: rgb(197, 22, 22);
    font-size: small;
}

.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}

.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.listOfDegrees {
    margin-left: 30px;
    padding-left: 10px;
    background-color: lightgoldenrodyellow;
    color: black;
    font-style: italic;
    font-weight: bold;
}

.degreesDiv {
    text-align: center;
}